.content-section {
    border-radius: 30px;
    background-color: #1d1d1d;
    margin-top: 80px;
    width: 100%;
    /* max-width: 1080px; */
    max-width: 1280px;
    padding: 80px 50px 0;
  }

  .highlight {
    color: #f9f9f9;
  }

  @media (max-width: 768px) {
    .content-section {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }

  .content-container {
    gap: 20px;
    display: flex;
  }

  @media (max-width: 768px) {
    .content-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }

  .text-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 59%;
    margin-left: 0px;
  }

  @media (max-width: 768px) {
    .text-column {
      width: 100%;
    }
  }

  .headline-wrapper {
    display: flex;
    /* margin-top: 80px;
    margin-left: 50px; */
    flex-direction: column;
  }

  @media (max-width: 768px) {
    .headline-wrapper {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .headline {
    color: #bea69e;
    letter-spacing: -2.56px;
    font: italic 500 64px/68px DM Sans, -apple-system, Roboto, Helvetica, sans-serif;
  }

  @media (max-width: 768px) {
    .headline {
      max-width: 100%;
      font-size: 40px;
      line-height: 47px;
    }
  }

  .description {
    color: #fff;
    letter-spacing: -0.28px;
    margin-top: 35px;
    font: 400 14px/18px DM Sans, sans-serif;
  }

  @media (max-width: 768px) {
    .description {
      max-width: 100%;
    }
  }

  .info-section {
    justify-content: center;
    display: flex;
    margin-top: 137px;
    gap: 20px;
    font-size: 16px;
    letter-spacing: -0.64px;
  }

  @media (max-width: 768px) {
    .info-section {
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }

  .happy-students {
    display: flex;
    gap: 12px;
    color: #fff;
    font-weight: 400;
    line-height: 20px;
  }

  .happy-students img:first-of-type {
    aspect-ratio: 2.5;
    object-fit: auto;
    object-position: center;
    width: 135px;
    max-width: 100%;
  }

  .secondary-info {
    display: flex;
    flex-direction: column;
  }

  .secondary-info p {
    font-family: DM Sans, sans-serif;
    margin: 0;
  }

  .secondary-info img {
    aspect-ratio: 2.27;
    object-fit: auto;
    object-position: center;
    width: 18px;
    fill: #fff;
    margin-top: 8px;
  }

  .reviews-section {
    align-self: start;
    display: flex;
    gap: 12px;
    white-space: nowrap;
  }

  @media (max-width: 768px) {
    .reviews-section {
      white-space: initial;
    }
  }

  .reviews-section img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 50px;
  }

  .reviews-info {
    align-self: start;
    display: flex;
    flex-direction: column;
  }

  .reviews-info p {
    margin: 0;
  }

  .reviews-info .label {
    color: rgba(255, 255, 255, 0.5);
    font-family: DM Sans, sans-serif;
    font-weight: 400;
  }

  .reviews-info .count {
    color: #fff;
    font-family: DM Sans, sans-serif;
    font-weight: 500;
    margin-top: 8px;
  }

  .image-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 41%;
    /* margin-left: 20px; */
  }

  @media (max-width: 768px) {
    .image-column {
      width: 100%;
    }
  }

  .main-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-width: 397px;
    margin-top: 80px;
    margin-right: 50px;
    flex-grow: 1;
  }

  @media (max-width: 768px) {
    .main-image {
        margin: 40px 155px;
    }
  }
