:root {
    --black: #121212;
    --white: #ffffff;
    --white70: rgba(255, 255, 255, 0.7);
    --beige: #bea69e;
    --bg-grid-gap: 184.83px;
    --bg-grid-thickness: 1px;
    --bg-grid-dashsize: 20px;
    --bg-grid-clr: var(--white70);
    --c: #fff; /* color */
    --t: 2px;  /* thickness of the lines */
    --g: 50px; /* gap between lines */
    --s: 12px; /* size of the dashes*/
  }
  
  body {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: conic-gradient(at var(--bg-grid-thickness) 50%,#0000 75%,var(--bg-grid-clr) 0)
    var(--bg-grid-gap)/calc(var(--bg-grid-gap) + var(--bg-grid-thickness)) var(--bg-grid-dashsize); 
    */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-0 -0 10 10'%3E%3Cpath d='M 0 1 L 10 1 M 1 0 L 1 10' stroke='%23404040' stroke-dasharray='1' stroke-width='0.1' /%3E%3C/svg%3E"); 
    background-size: 30px 30px;
    background-color: var(--black); 
}
    
  a {
    color: var(--white);
    text-decoration: none;
    background-color: var(--black);
  }
  .header,
  .form-container,
  .main-container,
  .courses-section,
  .mentors-section,
  .reviews-section,
  .footer {
    width: 100%;
    /* max-width: 1080px; */
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-top: 40px;
    gap: 20px;
  }
  .header-title,
  .review-card,
  .contact-info,
  .social-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .sign-up {
    justify-content: center;
    align-items: center;
    padding: 16px 60px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 12px;
    font-weight: bold;
  }
  
  .discover-section,
  .course-details {
    text-align: center;
  }
  
  img {
    max-width: 100%;
  }
  
  @media (min-width: 992px) {
    .nav-links {
      gap: 20px;
    }
  }